In [1]:
import pymysql
import pandas as pd
import numpy as np

#DB 에서 Studio, Tag 정보 가져오기
def getTagData() :
    # 정보 가져오기
    db= pymysql.connect(host='pics.crvbvpzlygpt.ap-northeast-2.rds.amazonaws.com',
                 port=3306,
                 user='pics',
                 passwd='picspics!1',
                 db='pics',
                 charset='utf8',
               cursorclass=pymysql.cursors.DictCursor)
    sqlStudio ="""SELECT 
            s.stu_id,s.com_id,s.category_id,s.name,s.description,s.rule,s.main_img,s.port_img,s.cad_img,s.floor
            FROM studio s;
            """
    sqlTag ="SELECT t.tag_id,t.stu_id,t.tag_name FROM tag t"

    cursor= db.cursor()

    cursor.execute(sqlStudio)
    db.commit()
    studio = cursor.fetchall()
    studio = pd.DataFrame(studio)

    cursor.execute(sqlTag)
    db.commit()
    tag = cursor.fetchall()
    tag = pd.DataFrame(tag)
    db.close()
    

    # 데이터 Tag 수정
    tagIdList=[]
    tagNameList=[]
    tag["tag_id"].fillna(0, inplace=True)
    tag["stu_id"].fillna(0, inplace=True)
    tag["tag_name"].fillna("", inplace=True)

    # 리스트로 쪼개기 처리
    for i in range(len(studio)):
        tagNames=[]
        tagIds=[]
        for t in range(len(tag)):
            if int(tag.iloc[t,1])==int(studio.iloc[i,0]):
                tagNames.append(tag.iloc[t,2])
                tagIds.append(tag.iloc[t,0])
        tagIdList.append(tagIds)
        tagNameList.append(tagNames)

    # str 처리    
    for i in range(len(tagNameList)):
        tagNameList[i]=tagNameList[i]
        tagIdList[i]=tagIdList[i]

    # studio 테이블에 추가
    studio["tag_id"]=tagIdList
    studio["tag_name"]=tagNameList
    
    dataset=studio
    
    return dataset

In [2]:

# 상위 8개 업체 가져오기
def getTop8(topSim) :
    result_list = []
    db= pymysql.connect(host='pics.crvbvpzlygpt.ap-northeast-2.rds.amazonaws.com',
                                 port=3306,
                                 user='pics',
                                 passwd='picspics!1',
                                 db='pics',
                                 charset='utf8',
                               cursorclass=pymysql.cursors.DictCursor)
    try :
        for stu_id in topSim:
            
            cursor= db.cursor()
            sql ="SELECT "
            sql +="s.stu_id, s.name, c.category_name, s.main_img,sf.unit_price ,sf.address "
            sql +="FROM studio s "
            sql +="JOIN studio_filter sf ON s.stu_id = sf.stu_id "
            sql +="JOIN studio_category c ON s.category_id = c.category_id "
            sql +="WHERE s.stu_id ="+str(stu_id)
  
            cursor.execute(sql)
            db.commit()

            result= cursor.fetchall()
            if len(result)>0:
                result_list.append(result[0])
#             else:
#                 print(result)
        return result_list
    finally:
        db.close()

In [3]:
# topsim=[1087, 893, 1085, 711, 877, 753, 1080, 873]
# getTop8(topsim)

[{'stu_id': 1087,
  'name': '광진구_중곡동에_위치한_작은_족발가게',
  'category_name': '카페',
  'main_img': '23_0_광진구_중곡동에_위치한_작은_족발가게.jpg,23_1_광진구_중곡동에_위치한_작은_족발가게.jpg,23_2_광진구_중곡동에_위치한_작은_족발가게.jpg',
  'unit_price': 50000,
  'address': '서울'},
 {'stu_id': 711,
  'name': '에이플랫',
  'category_name': '펍',
  'main_img': '21_0_에이플랫.jpg,21_1_에이플랫.jpg,21_2_에이플랫.jpg',
  'unit_price': 50000,
  'address': '인천'},
 {'stu_id': 877,
  'name': 'R401',
  'category_name': '펍',
  'main_img': '5_0_R401.jpg,5_1_R401.jpg,5_2_R401.jpg',
  'unit_price': 38000,
  'address': '경기'},
 {'stu_id': 753,
  'name': '영등포구_모던하고_따뜻한_35평_아파트',
  'category_name': '집',
  'main_img': '13_0_영등포구_모던하고_따뜻한_35평_아파트.jpg,13_1_영등포구_모던하고_따뜻한_35평_아파트.jpg,13_2_영등포구_모던하고_따뜻한_35평_아파트.jpg',
  'unit_price': 56000,
  'address': '서울'},
 {'stu_id': 1080,
  'name': '복합문화공간_코앤커피',
  'category_name': '카페',
  'main_img': '16_0_복합문화공간_코앤커피.jpg,16_1_복합문화공간_코앤커피.jpg,16_2_복합문화공간_코앤커피.jpg',
  'unit_price': 38000,
  'address': '서울'},
 {'stu_id': 873,
  'name': '여름_특가_촬영장소_대여(인천_강화도)',
  'category_name': '펍',
  'main_img': '1_0_여름_특가_촬영장소_대여(인천_강화도).jpg,1_1_여름_특가_촬영장소_대여(인천_강화도).jpg,1_2_여름_특가_촬영장소_대여(인천_강화도).jpg',
  'unit_price': 50000,
  'address': '인천'}]