In [13]:
# 외부 모듈
import pandas as pd
# 사용자 모듈 불러오기
import sys
sys.path.append('..')
from dao import reco_dao
def recommend():
    # DB에서 불러온 source 받기
    df = reco_dao.get_cfsource()
    return df.iat[2,1] # 서버에서 받는지 확인용.... df가 진짜 리턴값

In [22]:
!jupyter nbconvert --to script reco_controller.ipynb

[NbConvertApp] Converting notebook reco_controller.ipynb to script
[NbConvertApp] Writing 385 bytes to reco_controller.py

In [17]:
import pandas as pd
import numpy as np
data = pd.read_excel("test_reco.xlsx", encoding='utf-8')
ratings = data.pivot_table(index='stuId', columns='custId')
rating_bi = ratings[np.isfinite(ratings)]

In [18]:
ratings_bi

        score
custId      1      2      3      4      5
stuId
1       False   True  False   True  False
2       False  False   True  False  False
3       False   True  False   True   True
4        True   True  False   True   True